//////////////////////////////////////////////////////////////////////////////
// CCI.RC
//
// CCI resources
//
// This is for use with the Quote package.
// Copyright (c) Ward Quinlan, 1996
//////////////////////////////////////////////////////////////////////////////

// empty resource file

