//////////////////////////////////////////////////////////////////////////////
// VI.RC
//
// VII resources
//
// This is for use with the Quote package.
// Copyright (c) Ward Quinlan, 1996
//////////////////////////////////////////////////////////////////////////////
#include <windows.h>
#include "resource.hxx"

